<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SuperSelectD</title>

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Seu CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>

  <body>
    {% block conteudo %}{% endblock %}

    {% if session.usuario_nome %}
      <p>Olá, {{ session.usuario_nome }}! <a href="{{ url_for('logout') }}">Sair</a></p>
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
