.produto-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.produto-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
}

.comentarios {
    max-height: 100px;
    overflow-y: auto;
    margin-bottom: 10px;
    font-size: 14px;
}
